@use "@scss/fn";

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;

	&__item {
		&:first-child {
			margin-right: auto;
		}

		&:last-child {
			margin-left: auto;
		}
	}

	&__link,
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		width: fn.rs(36px, 50px);
		aspect-ratio: 1;
		border: 1px solid #DEDEDE;
		border-radius: 50%;
		color: var(--color-text-3);
		text-align: center;
		transition: color .25s, border-color .25s;

		&_current {
			background-color: var(--color-main-1);
			border-color: transparent;
			color: var(--color-text-1);
		}
	}

	&__arrow {
		font-size: 30px;
		color: var(--color-text-1);
		transition: color .25s;

		&:not([href]) {
			opacity: .3;
		}
	}

	@media (width>=480px) {
		&__item {
		&:first-child {
			margin-right: 20px;
		}

		&:last-child {
			margin-left: 20px;
		}
	}
	}

	@media (hover) {
		&__link:hover {
			border-color: currentColor;
			color: var(--color-main-1);
		}

		&__arrow[href]:hover {
			color: var(--color-main-1);
		}
	}
}