---
import Title from "@components/Title/Title.astro";
import Btn from "@components/Btn/Btn.astro";
import Guide from "../Guide/Guide.astro";
import "./how-to-create.scss";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={[className, "how-to-create container"]}>
	<Title class="how-to-create__title" as="h2" size={2}
		>Як створити Онлайн Меморіал</Title
	>
	<Guide />
	<div class="how-to-create__actions">
		<Btn class="how-to-create__btn" as="a" href="#" theme="success" variant="fill"
			>Створити Меморіал</Btn
		>
		<Btn class="how-to-create__btn" as="a" href="#" theme="primary" variant="fill"
			>Приклад Меморіалу</Btn
		>
	</div>
</section>
