---
import Title from "@components/Title/Title.astro";
import Nav from "@components/Nav/Nav.astro";
import BtnIcon from "@components/BtnIcon/BtnIcon.astro";
import AuthActions from "@components/AuthActions/AuthActions.astro";
import "./mobile-nav.scss";
---

<div class="mobile-nav" data-mobile-nav>
	<BtnIcon
		class="mobile-nav__close-btn"
		as="button"
		type="button"
		icon="x"
		theme="light"
		size="sm"
		title="Закрити меню"
		data-mobile-nav-close
	/>
	<div class="mobile-nav__content">
		<AuthActions class="mobile-nav__auth" />
		{
			[
				{
					title: "Збережи",
					nav: ["Про нас", "Новини", "Контакти"],
				},
				{
					title: "Сервіси",
					nav: ["Можливості", "Приклад меморіалу", "Питання та відповіді"],
				},
				{
					title: "Важливе",
					nav: ["Умови використання", "Політика безпеки", "Підтримати проект"],
				},
			].map(({ title, nav }) => (
				<div class="mobile-nav__group">
					<Title class="mobile-nav__title" as="p" size={6}>
						{title}
					</Title>
					<Nav {nav} />
				</div>
			))
		}
	</div>
</div>
<div class="mobile-nav-overlay" data-mobile-nav-overlay></div>
