@use "@scss/var";

$transition-duration: .5s;

.mobile-nav {
	position: fixed;
	z-index: 1000;
	right: 100%;
	top: 0;
	height: 100%;
	width: 300px;
	max-width: 100%;
	padding-top: 60px;
	background-color: #fff;
	visibility: hidden;
	transition: transform $transition-duration, visibility $transition-duration;

	&_open {
		transform: translateX(100%);
		visibility: visible;
	}

	&__close-btn {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__content {
		padding: 0 30px 30px;
		height: 100%;
		overflow-y: auto;
		overscroll-behavior: contain;
	}

	&__auth {
		margin-bottom: 30px;
		width: fit-content;
	}

	&__group {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 10px;
	}

	@media (width>=var.$mobile-nav-breakpoint) {
		display: none;
	}
}

.mobile-nav-overlay {
	position: fixed;
	z-index: 999;
	inset: 0;
	background-color: rgba($color: #000000, $alpha: 0.7);
	visibility: hidden;
	opacity: 0;
	transition: opacity $transition-duration, visibility $transition-duration;

	@at-root .mobile-nav_open + & {
		visibility: visible;
		opacity: 1;
	}

	@media (width>=var.$mobile-nav-breakpoint) {
		display: none;
	}
}

.mobile-nav-scroll-lock {
	@media (width<var.$mobile-nav-breakpoint) {
		overflow: hidden;
	}
}