.date {
	display: flex;
	align-items: center;
	column-gap: 6px;
	color: var(--color-text-3);
	font-size: 12px;
	line-height: 1;

	&__icon {
		font-size: 14px;
		color: var(--color-main-2);
	}

	@media (width>=576px) {
		font: var(--font-body-text);
		&__icon {
			font-size: 18px;
		}
	}
}