---
import "./textarea.scss";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"textarea"> {
	class?: string;
	size?: "xs";
	counter?: boolean;
	maxlength?: number;
}

const { class: className, size, counter, maxlength, ...rest } = Astro.props;
const showCounter = counter && maxlength > 0;
---

<textarea
	class:list={[className, "textarea", size && `textarea_size_${size}`]}
	{maxlength}
	{...rest}
>
</textarea>
{showCounter && <div class="textarea-counter">0/{maxlength}</div>}
