---
import Title from "@components/Title/Title.astro";
import BtnCircle from "@components/BtnCircle/BtnCircle.astro";
import "./hero.scss";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={[className, "hero"]}>
	<div class="hero__inner container container_size_lg">
		<div class="hero__text">
			<Title class="hero__title" as="h1" size={2}
				>Збережи любов та пам'ять...</Title
			>
			<div class="hero__description">
				<p>
					Наш проект був задуманий та створений для людей, які втратили своїх
					близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо
					допомогти зберегти найцінніше, що залишається після смерті людини - пам'ять
					про неї. Історія життя кожної людини унікальна, неповторна і заслуговує на
					те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному…
				</p>
			</div>
			<BtnCircle class="hero__btn" as="a" href="#">Детальніше</BtnCircle>
		</div>
	</div>
</section>
