---
import "./hero.scss";

import Title from "@components/Title/Title.astro";
---

<section class="hero">
	<div class="hero__inner container">
		<div class="hero__text">
			<Title class="hero__title" as="h1" size="2"
				>Збережи любов та пам'ять...</Title
			>
			<div class="hero__description text-trim">
				<p>
					Наш проект був задуманий та створений для людей, які втратили своїх
					близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо
					допомогти зберегти найцінніше, що залишається після смерті людини - пам'ять
					про неї. Історія життя кожної людини унікальна, неповторна і заслуговує на
					те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному…
				</p>
			</div>
		</div>
	</div>
</section>
