:root {
	interpolate-size: allow-keywords;

	--color-white: #fff;
	--color-main-1: #FAD101;
	--color-main-2: #3E9AF6;
	--color-main-3: #3ED05E;
	--color-text-1: #323232;
	--color-text-2: #{rgba($color: #323232, $alpha: 0.8)};
	--color-text-3: #{rgba($color: #323232, $alpha: 0.6)};

	--page-font-family: "Open Sans", sans-serif;
	--page-font-size: 16px;
	--page-font-weight: 400;
	--page-line-height: 1.625;
	--page-background: #fff;

	--font-button: 600 18px/1 var(--page-font-family);
	--font-body-text: 400 16px/1.625 var(--page-font-family);
	--font-h2: 700 46px/1.173913043 "Nunito Sans";
	--font-h6: 700 18px/1.333333333 "Nunito Sans";

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	font-family: var(--page-font-family);
	font-size: var(--page-font-size);
	font-weight: var(--page-font-weight);
	line-height: var(--page-line-height);
	color: var(--color-text-2);
	background-color: var(--page-background);
	font-optical-sizing: auto;
}