@use "@scss/var";

.container {
	width: min(var.$container-width, 100% - var.$container-gutters * 2);
	margin-inline: auto;

	&_size {
		&_lg {
			width: min(var.$container-lg-width, 100% - var.$container-gutters * 2);
		}
	}
}