@use "@scss/var";

.container {
	width: min(var.$container-width, 100% - var.$container-gutters * 2);
	margin-inline: auto;
}

.container-sm {
	width: min(var.$container-sm-width, 100% - var.$container-gutters * 2);
	margin-inline: auto;
}

.container-lg {
	width: min(var.$container-lg-width, 100% - var.$container-gutters * 2);
	margin-inline: auto;
}