@use "@scss/fn";

%form-control-base {
	--padding-inline: #{fn.rs(15px, 19px)};
	min-height: fn.rs(50px, 60px);
	background-color: #fff;
	border: 1px solid #DEDEDE;
	border-radius: 10px;
	color: var(--color-text-1);
	font: var(--font-body-text);
	transition: border-color .25s;

	&:focus,
	&:not(:disabled):hover {
		border-color: #CEE6FF;
	}

	@at-root ._validated &:user-invalid,
	&._invalid {
		border-color: #f00 !important;
	}
}