%form-control-base {
	--padding-inline: 19px;
	min-height: 60px;
	background-color: #fff;
	border: 1px solid #DEDEDE;
	border-radius: 10px;
	color: var(--color-text-1);
	font: var(--font-body-text);
	transition: border-color .25s;

	&:focus,
	&:not(:disabled):hover {
		border-color: #CEE6FF;
	}

	@at-root ._validated &:user-invalid,
	&._invalid {
		border-color: #f00;
	}
}