@use "@scss/fn";

.wysiwyg {
	&> :first-child {
		margin-top: 0 !important;
	}

	&> :last-child {
		margin-bottom: 0 !important;
	}

	.contents {
		margin-block: 30px fn.rs(30px, 40px);
	}

	p {
		margin-block: fn.rs(22px, 26px);

		&:has(> img:only-child) {
			margin-block: fn.rs(20px, 40px);
		}

		:where(iframe, img, table):first-child {
			margin-top: 0;
		}

		:where(iframe, img, table):last-child {
			margin-bottom: 0;
		}
	}

	:where(iframe, img, table) {
		margin-block: fn.rs(16px, 30px);
	}

	:where(h1, h2, h3, h4, h5, h6):not([class]) {
		color: var(--color-text-1);
	}

	h1:not([class]) {
		margin-bottom: fn.rs(16px, 30px);
		font: var(--font-h1);
	}

	h2:not([class]) {
		margin-block: fn.rs(30px, 40px) fn.rs(16px, 30px);
		font: var(--font-h2);
	}

	h3:not([class]) {
		margin-block: 30px fn.rs(16px, 20px);
		font: var(--font-h3);
	}

	h4:not([class]) {
		margin-block: 30px 16px;
		font: var(--font-h4);
	}

	h5:not([class]) {
		font: var(--font-h5);
	}

	h6:not([class]) {
		font: var(--font-h6);
	}

	li:not([class]):not(:last-child) {
		margin-bottom: fn.rs(6px, 10px);
	}

	ul:not([class]) {
		margin-block: fn.rs(16px, 20px);

		li {
			padding-left: fn.rs(38px, 48px);
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: fn.rs(20px, 30px);
				top: calc(50% - 4px);
				top: calc(0.5lh - 4px);
				width: 8px;
				height: 8px;
				background-color: var(--color-main-1);
				border-radius: 50%;
			}
		}
	}

	ol {
		margin-block: 16px 20px;
		counter-reset: item;

		li {
			display: table;
			counter-increment: item;

			&::before {
				content: counters(item, ".") ". ";
				display: table-cell;
				padding-right: 0.6em;
				font-weight: 600;
				color: var(--color-text-1);
			}

			li::before {
				content: counters(item, ".") " ";
			}
		}
	}

	figure {
		margin-block: fn.rs(30px, 40px);

		&:has(blockquote) {
			padding-left: fn.rs(76px, 104px);
			background: url('/assets/img/quote.svg') left top 7px / fn.rs(60px, 76px) no-repeat;
		}
	}

	blockquote {
		font: italic fn.rs(18px, 26px)/fn.rs(24px, 34px) "Nunito Sans", sans-serif;

		&+figcaption {
			margin-top: fn.rs(16px, 30px);
			font: var(--font-h6);
		}
	}

	iframe {
		&[src*="youtu"] {
			display: block;
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
			max-height: 582px;
		}
	}
}