---
import "./search-alert.scss";
---

<div class="search-alert container">
	<div class="search-alert__message">Пошук не дав результатів. Спробуйте ввести інше прізвище (чи комбінацію літер, якщо не пам’ятаєте прізвище цілком) та повторити пошук. Нагадуємо, що пошук здійснюється за <b>прізвищем</b> людини, для якої створений Онлайн Меморіал.</div>
</div>
