@use "@scss/fn";

.page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	& > * {
		flex-shrink: 0;
	}

	&__main {
		padding-bottom: fn.rs(60px, 160px);
	}

	&__title {
		margin-bottom: fn.rs(20px, 60px);
	}

	&__pagination {
		margin-top: fn.rs(30px, 60px);
	}

	&__footer {
		margin-top: auto;
	}
}