.slider-gallery {
	position: relative;

	&__btn {
		font-size: 30px;
		position: absolute;
		top: calc(50% - 0.5em);
		color: var(--color-text-1);
		transition: color .25s;
	}

	&__link {
		border-radius: 10px;
	}

	&__img {
		width: 100%;
		max-height: 312px;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: inherit;
	}

	@media (width<420px) {
		padding-bottom: 32px;

		&__btn {
			display: none;
		}
	}

	@media (width>=420px) {
		padding-inline: 60px;

		&__btn {
			display: block;

			&_dir {
				&_prev {
					left: 0;
				}

				&_next {
					right: 0;
				}
			}

			&.swiper-button-lock {
				opacity: .3;
				cursor: not-allowed;
			}
		}
	}
}