@use "@scss/misc/mixins";

.select {
	@include mixins.form-control-base;
	padding: 0 calc(var(--padding-inline) + 30px) 0 var(--padding-inline);
	appearance: none;
	background: #fff url('/assets/img/select-arrow.svg') right var(--padding-inline) center / 20px no-repeat;
}
