---
import "./select.scss";
import type { HTMLAttributes } from "astro/types";

interface SelectOption {
	text: string;
	value?: string;
	disabled?: boolean;
	selected?: boolean;
	[key: string]: any;
}

interface Props extends HTMLAttributes<"select"> {
	options: SelectOption[];
	class?: string;
	size?: "xs";
}

const { class: className, size, options, ...rest } = Astro.props;
---

<select class:list={[className, "select", size && `select_size_${size}`]} {...rest}>
	{
		options.map(({ value, text, ...optionRest }) => (
			<option {value} {...optionRest}>
				{text}
			</option>
		))
	}
</select>
