@use "@scss/fn";

.about {
	&__title {
		margin-bottom: fn.rs(16px, 30px);
	}

	@media (width<768px) {
		&__col:not(:last-child) {
			margin-bottom: fn.rs(20px, 40px);
		}
	}

	@media (width>=768px) {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: 60px;

		&__title {
			grid-column: 1 / -1;
		}
	}
}