---
import Title from "@components/Title/Title.astro";
import "./about.scss";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={[className, "about container"]}>
	<Title class="about__title" as="h1" size={1}>Про проект</Title>
	<div class="about__col wysiwyg">
		<p>Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї. Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному… Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
		<p>Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному…</p>
		<p>Онлайн Меморіал це не просто сторінка сайту з інформацією про людину, якої вже нема в цьому світу. Це віртуальний пам'ятник або альбом спогадів, який буде завжди поряд із Вами.</p>
		<p>Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї. Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному… Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
		<p>Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали.</p>
		<p>Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.  Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
	</div>
	<div class="about__col wysiwyg">
		<p style="text-align: center;"><img src="/upload/zberegy-heart.svg" alt="" width="474" height="399" loading="lazy"></p>
		<p>Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї. Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному… Наш проект був задуманий та створений для людей, які втратили своїх близьких. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
		<p>Історія життя кожної людини унікальна, неповторна і заслуговує на те, щоб про неї знали та пам'ятали. Збережи надає цю можливість кожному. Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
		<p>Звичайно, ми не можемо зменшити біль від втрати, але можемо допомогти зберегти найцінніше, що залишається після смерті людини — пам'ять про неї.</p>
	</div>
</div>