---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<ol class="container" style="padding-block: 30px">
		{
			[
				["Головна", "homepage"],
				["Про проект", "about-us"],
				["Усі новини", "news"],
				["Новина", "news-page"],
				["Невдалий пошук", "search-no-results"],
				["Умови використання сайта", "terms-of-use"],
				["Політика безпеки", "security-policy"],
				["Контакти", "contact-us"],
				["---------------------------------"],
				["Іконки", "icons"],
			].map(([text, slug]) => (
				<li>
					{slug ? (
						<a href={`/${slug}`} target="_blank">
							{text}
						</a>
					) : (
						<div>{text}</div>
					)}
				</li>
			))
		}
	</ol>
</Layout>
