---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Title from "@components/Title/Title.astro";
---

<Layout>
	<Breadcrumbs list={[{ text: "Умови використання сайта" }]} />
	<Title class="page__title container" as="h1" size={1}>Умови використання сайта</Title>
	<div class="wysiwyg container">
		<h2>1. Загальні положення</h2>
		<p><b>1.1.</b> Портал інформаційно-туристичного напрямку moemore.com.ua (далі – «Сайт») запрошує Вас (далі – «Користувач») скористатися послугами на умовах, основні з яких згадані в цієї Угоді Користувача (далі – «Угода»). Затверджений документ може бути змінений без узгодження або спеціального повідомлення користувачів. Оновлена ​​версія вступає в силу з моменту розміщення на Сайті. Актуальна редакція даного документа завжди доступна для Користувача за адресою: <a href="#">https://</a>.</p>
		<p><b>1.2.</b> Умови користування послугами Сайту Користувачем регламентується цією Угодою.</p>
		<p><b>1.3.</b> Якщо окремі питання не знайшли свого висвітлення в чинної Угоді, вважається, що вони регулюються правом України.</p>
		<h2>2. Визначення та використана в Угоді термінологія</h2>
		<p><b>2.1.</b> Портал інформаційно-туристичного напрямку moemore.com.ua (далі – «Сайт») запрошує Вас (далі – «Користувач») скористатися послугами на умовах, основні з яких згадані в цієї Угоді Користувача (далі – «Угода»). Затверджений документ може бути змінений без узгодження або спеціального повідомлення користувачів. Оновлена ​​версія вступає в силу з моменту розміщення на Сайті. Актуальна редакція даного документа завжди доступна для Користувача за адресою: <a href="#">https://</a>.</p>
		<p><b>2.2.</b> Умови користування послугами Сайту Користувачем регламентується цією Угодою.</p>
		<p><b>2.3.</b> Якщо окремі питання не знайшли свого висвітлення в чинної Угоді, вважається, що вони регулюються правом України.</p>
		<h2>3. Права і обов'язки Адміністратора</h2>
		<p><b>3.1.</b> Портал інформаційно-туристичного напрямку moemore.com.ua (далі – «Сайт») запрошує Вас (далі – «Користувач») скористатися послугами на умовах, основні з яких згадані в цієї Угоді Користувача (далі – «Угода»). Затверджений документ може бути змінений без узгодження або спеціального повідомлення користувачів. Оновлена ​​версія вступає в силу з моменту розміщення на Сайті. Актуальна редакція даного документа завжди доступна для Користувача за адресою: <a href="#">https://</a>.</p>
		<p><b>3.2.</b> Умови користування послугами Сайту Користувачем регламентується цією Угодою.</p>
		<p><b>3.3.</b> Якщо окремі питання не знайшли свого висвітлення в чинної Угоді, вважається, що вони регулюються правом України.</p>
		<h2>4. Права і обов'язки Власника Об'єкту</h2>
		<p><b>4.1.</b> Права Власника Об'єкту:</p>
		<ul>
			<li>відвідувати всі розділи і сторінки Сайту, користуватися всіма послугами, представленими на сторінках Сайту;</li>
			<li>давати рекомендації, поради та побажання Адміністратору щодо того як повинна бути подана інформація про його об'єкт на Сайті.</li>
		</ul>
		<p><b>4.2.</b> Обов'язки Замовника:</p>
		<ul>
			<li>надавати Адміністратору потрібну йому інформацію в необхідному обсязі і в зазначені терміни, щоб забезпечити її актуальність для Користувача і коректне розміщення на Сайті.</li>
		</ul>
		<h2>5. Права Користувача Сайту</h2>
		<ul>
			<li>використовувати інформацію Сайту в будь-якому обсязі для організації свого відпочинку;</li>
			<li>відвідувати всі розділи і сторінки Сайту, відкриті для нього, користуватися всіма послугами і матеріалами, представленими на сторінках Сайту.</li>
		</ul>
		<h2>6. Гарантії</h2>
		<p>На жаль, ми не можемо гарантувати порядність кожного Власника Об'єкту, який розміщений на Сайті. Також ми не можемо гарантувати актуальність інформації про об'єкт, так як вона надається Власником Об'єкту і публікується на Сайті з урахуванням його вимог і побажань. Однак задоволення наших користувачів є для нас головною метою, тому ми ретельно розглядаємо кожну скаргу користувачів на Об'єкти, які розміщуються на Сайті, або на їх власників. Ми гарантуємо, що повністю припиняємо співпрацю з Власниками Об’єктів, на яких надійшло не менше 3-х обґрунтованих скарг від різних користувачів.</p>
		<h2>7. Зворотній зв'язок. Питання та пропозиції</h2>
		<p>Всі пропозиції або питання з приводу цієї Угоди Користувач має право направляти Адміністратору сайту. Для цього зв'яжіться з нами.</p>
	</div>
</Layout>
