@use "@scss/fn";

.modal {
	padding: 0;
	position: fixed;
	max-width: calc(100% - 15px);
	max-height: calc(100% - 15px);
	border: none;
	border-radius: 10px;
	outline: none;
	background-color: #fff;
	color: var(--color-text-1);
	box-shadow: 0 10px 60px rgba($color: #323232, $alpha: 0.1);
	transition-property: opacity, transform, overlay, display;
	transition-duration: .3s;
	transition-behavior: allow-discrete;

	&[open] {
		opacity: 1;
		transform: scale(1);
	}

	@starting-style {
		&[open] {
			opacity: 0;
			transform: scale(0);
		}
	}

	&::backdrop {
		background-color: rgba($color: #323232, $alpha: 0.8);
		opacity: 0;
		transition: opacity .3s;
	}

	&[open]::backdrop {
		opacity: 1;
	}

	@starting-style {
		&[open]::backdrop {
			opacity: 0;
		}
	}

	&__close-wrapper {
		position: absolute;
		top: fn.rs(15px, 20px);
		right: fn.rs(15px, 20px);
	}

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		font-size: fn.rs(20px, 26px);
		border: none;
		background-color: transparent;
		color: var(--color-text-2);
		transition: color .25s;
	}

	@media(hover) {
		&__close:hover {
			color: var(--color-main-2);
		}
	}
}