---
import "./form-sent-modal.scss";
import Icon from "@components/Icon/Icon.astro";
---

<div class="form-sent-modal">
	<div class="form-sent-modal__icon">
		<Icon id="check" />
	</div>
	<p class="form-sent-modal__message">Ваше повідомлення успішно надіслано. Ми спробуємо зв'язатися з Вами якнайшвидше!</p>
</div>