---
import "./gallery.scss";

interface Props {
	list: Array<[string, string]>;
	galleryId: string;
}

const { list, galleryId } = Astro.props;
---

<div class="gallery">
	{
		list.map(([thumb, full]) => (
			<a class="gallery__link" href={full} data-gallery={galleryId}>
				<img
					class="gallery__img"
					src={thumb}
					alt=""
					width="533"
					height="533"
					loading="lazy"
					decoding="async"
				/>
			</a>
		))
	}
</div>
