---
import Logo from "@components/Logo/Logo.astro";
import Title from "@components/Title/Title.astro";
import Nav from "@components/Nav/Nav.astro";
import Partners from "@components/Partners/Partners.astro";
import Socials from "@components/Socials/Socials.astro";
import Icon from "@components/Icon/Icon.astro";
import "./footer.scss";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<footer class:list={[className, "footer"]}>
	<div class="footer__top container">
		<div class="footer__logo-col">
			<Logo class="footer__logo" />
			<p class="footer__about">
				Шляхом додавання основної або детальної інформації. Введіть кілька деталей,
				запросіть гостей і додайте пару спогадів. Це все, що вам потрібно зробити.
			</p>
		</div>
		<div class="footer__navigations">
			{
				[
					{
						title: "Збережи",
						id: "footer-nav-about",
						nav: ["Про нас", "Новини", "Контакти"],
					},
					{
						title: "Сервіси",
						id: "footer-nav-services",
						nav: ["Можливості", "Приклад меморіалу", "Питання та відповіді"],
					},
					{
						title: "Важливе",
						id: "footer-nav-info",
						nav: ["Умови використання", "Політика безпеки", "Підтримати проект"],
					},
				].map(({ title, id, nav }) => (
					<div class="footer__nav-col">
						<Title
							class="footer__nav-title"
							as="button"
							type="button"
							size={6}
							aria-expanded="false"
							aria-controls={id}
							data-footer-nav-toggler
						>
							{title}
							<Icon class="footer__title-arrow" id="chevron-down" />
						</Title>
						<Nav {id} {nav} placement="footer" />
					</div>
				))
			}
		</div>
	</div>
	<div class="footer__bottom container">
		<address class="footer__contacts">
			<Title class="footer__socials-title" as="p" size={6}>
				Ми в соціальних мережах:
			</Title>
			<Socials class="footer__socials" />
		</address>
		<Partners class="footer__partners" />
	</div>
	<p class="footer__copyright container">© 2022 Zberezhi.ua. Всі права захищені</p>
</footer>