---
import Icon from "@components/Icon/Icon.astro";
import "./socials.scss";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<ul class:list={[className, "socials"]}>
	{
		[
			{
				title: "Ми в Facebook",
				icon: "facebook-circle",
			},
			{
				title: "Ми в Youtube",
				icon: "youtube-circle",
			},
			{
				title: "Ми в X",
				icon: "twitter",
			},
		].map(({ title, icon }) => (
			<li class="socials__item">
				<a class="socials__link" href="#" data-tooltip={title} target="_blank" rel="nofollow">
					<Icon id={icon} />
				</a>
			</li>
		))
	}
</ul>
