.search {
	position: relative;

	&__icon {
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: var(--color-text-3);
		font-size: 14px;
		pointer-events: none;
	}
	
	&__field {
		width: 100%;
		padding: 16px 43px;
		border: 1px solid #DEDEDE;
		border-radius: 100px;
		transition: border-color .25s;
		font: var(--font-body-text);

		&::placeholder {
			color: var(--color-text-3);
		}

		&:focus {
			border-color: #CEE6FF;
		}
	}
}