---
import MemorialCard from "@components/MemorialCard/MemorialCard.astro";
import "./memorials-list.scss";

const data = [
	{
		slug: "#",
		name: "Соловейко Іван Георгійович",
		photo: "/demo/memorial-card-1.png",
		location: "Київ, Україна",
		lifespan: "10.08.1929 — 27.03.2015",
		about:
			"Наш улюблений дідусь Іван Соловейко помер 27 березня 2015 року. Він боровся з агресивним раком легенів протягом трьох довгих місяців. Він був веселою, доброю і чуйною людиною. В день його народження збиралося...",
	},
	{
		slug: "#",
		name: "Соловейко Іван Васильович",
		photo: "/demo/memorial-card-2.png",
		location: "Львів, Україна",
		lifespan: "08.04.1935 — 15.06.2010",
		about:
			"Наш улюблений дідусь Іван Соловейко помер 27 березня 2015 року. Він боровся з агресивним раком легенів протягом трьох довгих місяців. Він був веселою, доброю і чуйною людиною. В день його народження збиралося...",
	},
	{
		slug: "#",
		name: "Соловейко Іван Юрійович",
		photo: null,
		location: "Миколаїв, Україна",
		lifespan: "11.01.1946 — 21.10.1999",
		about:
			"Цей меморіал присвячений вшануванню пам'яті Соловейко І.Ф. Кожна людина заслуговує на те, щоб про неї пам'ятали. На сторінці Онлайн Меморіалу Ви маєте можливість розповісти світові історію життя близької Вам людини. Поділиться...",
	},
	{
		slug: "#",
		name: "Соловейко Іван Миколович",
		photo: "/demo/memorial-card-3.png",
		location: "Запоріжжя, Україна",
		lifespan: "15.09.1949 — 03.08.2022",
		about:
			"Наш улюблений дідусь Іван Соловейко помер 27 березня 2015 року. Він боровся з агресивним раком легенів протягом трьох довгих місяців. Він був веселою, доброю і чуйною людиною. В день його народження збиралося...",
	},
];
---

<div class="memorials-list container">
	{data.map((item) => <MemorialCard class="memorials-list__item" {...item} />)}
</div>
