---
import Title from "@components/Title/Title.astro";
import Date from "@components/Date/Date.astro";
import Share from "@components/Share/Share.astro";
import Contents from "@components/Contents/Contents.astro";
import SliderGallery from "@components/SliderGallery/SliderGallery.astro";
import Gallery from "@components/Gallery/Gallery.astro";
import "./news.scss";
---

<article class="news container-sm">
	<div class="news__header">
		<div>
			<Title class="news__title" as="h1" size={1}
				>Як вшанувати пам'ять рідної людини</Title
			>
			<Date class="news__date" date="2022-05-25" dateHuman="25 травня, 2022" />
			<Share
				label="Поділитися новиною:"
				textToShare="Як вшанувати пам'ять рідної людини"
			/>
		</div>
		<img class="news__preview" src="/demo/news-1.png" alt="" width="370" height="270" loading="lazy" decoding="async" />
	</div>
	<div class="news__body wysiwyg">
		<p>Згідно з представленнями багатьох релігій, молитви про умерше і певні ритуали, присвячені йому, здатні забезпечити йому загрозливе благополуччя або хоча б улучшити його посмертну участь. У християнстві подібні дії витікають із найважливіших основ віри і моралі. Про значення поминовения усопших на Божественной літургії свідчить той факт, що з древності воно проявлятися в тому, що тіла умерших повинні бути подобающим образом погребени, а віруючі повинні постійно молитися про душах умерших. Про значення поминовения усопших на Божественной літургії свідчить той факт, що з древності воно становить неотъемлемую частину диптихів, що включалися в ходатайственные молитви анафори; оформление этой части евхаристической молитвы с поминовением усопших и живых нарядов с именами чтимых святых особенным образом выражает христианскую веру в мистическое единство Церкви.</p>
		<Contents list={[
			"Звістка. З чого все починається",
			"З чим стикається сім’я після похорону",
			"Остання шана. Військовий церемоніал",
			"Сім’ї, тих хто загинув за Україну. Життя після",
			"Відновлення справедливості"
		]} />
		<h2 id="heading-0">Звістка. З чого все починається</h2>
		<p>Саме у цей момент і починається вшанування пам’яті. Те, наскільки держава подбала, щоб підтримати рідних у страшний момент, коли вони почують, що той, кого вони чекають з фронту, повернеться уже в труні. На початку війни процес повідомлення близьких був хаотичним: хтось отримував новини з інтернету, комусь телефонували бойові побратими, медик, який надавав допомогу, або і «сєпари» чи російські найманці з повідомленням, що, мовляв, “ можете приїжджати і забирати тіло”. Галина Ковалишин, мама Олега Ковалишина, який загинув <b>23 травня 2014 року</b> біля Карлівки, розповідає: «Як ми дізнались? До цього часу, а йде уже сьомий рік війни, наша родина не отримала від нашої держави, від Міністерства оборони, від кого завгодно, офіційного повідомлення про загибель сина в бою. Нічого не повідомляють. Ми все про все дізналися з комп’ютерних розмов».</p>
		<h3>Звістка</h3>
		<p>Зазвичай такий неналежний процес повідомлення часто завдає ще додаткової травми сім’ї і вони відчувають себе покинутими та ізольованими у своєму горі. Зараз на фронті діє неписане правило про мовчання в перші 24 години, щоб близькі довідались про втрату не з інтернету. Проте і його часто порушують.</p>
		<ul>
			<li>Звістка. З чого все починається</li>
			<li>З чим стикається сім’я після похорону</li>
			<li>Звістка. З чого все починається</li>
			<li>З чим стикається сім’я після похорону</li>
		</ul>
		<h4>Повідомлення близьким про смерть</h4>
		<p>Відповідно до Інструкції про організацію поховання військовослужбовців, які загинули (померли) під час проходження військової служби (<a href="#">Наказ Міністерства Оборони N 185 від 05.06.2001</a>) повідомлення близьким про смерть здійснює військовий комісар особисто:</p>
		<ol start="1.1">
			<li>Інструкції про організацію поховання військовослужбовців, які загинули (померли) під час проходження військової служби (Наказ Міністерства Оборони N 185 від 05.06.2001) повідомлення близьким про смерть здійснює військовий комісар особисто.</li>
			<li>Поховання військовослужбовців, які загинули (померли) під час проходження військової служби.</li>
			<li>Повідомлення близьким про смерть здійснює військовий комісар особисто.</li>
		</ol>
		<h2 id="heading-1">З чим стикається сім’я після похорону</h2>
		<p>Саме у цей момент і починається вшанування пам’яті. Те, наскільки держава подбала, щоб підтримати рідних у страшний момент, коли вони почують, що той, кого вони чекають з фронту, повернеться уже в труні. На початку війни процес повідомлення близьких був хаотичним: хтось отримував новини з інтернету, комусь телефонували бойові побратими, медик, який надавав допомогу, або і «сєпари» чи російські найманці з повідомленням, що, мовляв, “ можете приїжджати і забирати тіло”. Галина Ковалишин, мама Олега Ковалишина, який загинув 23 травня 2014 року біля Карлівки, розповідає: «Як ми дізнались? До цього часу, а йде уже сьомий рік війни, наша родина не отримала від нашої держави, від Міністерства оборони, від кого завгодно, офіційного повідомлення про загибель сина в бою. Нічого не повідомляють. Ми все про все дізналися з комп’ютерних розмов».</p>
		<h2 id="heading-2">Остання шана. Військовий церемоніал</h2>
		<p>У Міністерстві у справах ветеранів є Директорат вшанування пам’яті та формування позитивного образу ветерана. Зараз тут працюють над створенням бази даних місць поховань ветеранів війни, меморіальних дошок та пам’ятників захисникам України, інструментів для їх моніторингу. Планується створення та введення в експлуатацію Національного військового меморіального кладовища. Зокрема надано пропозиції змін до Закону України про похорон та поховальну справу та оновлено оргкомітет зі створення Національного військового меморіального кладовища та оргкомітету по створенню Меморіалу.</p>
		<figure>
			<blockquote>
			<p>Нація, яка продовжує рік у рік витрачати більше грошей на військову оборону, ніж на соціальні програми з підтримки населення, наближається до духовної смерті.</p>
			</blockquote>
			<figcaption>Мартин Лютер Кинг</figcaption>
		</figure>
		<p>Воєнні злочини не залишились у 2014-2015 роках, вони продовжують відбуватись тут і зараз. Олександра розповідає, що під час Маршу захисників України громадськість сколихнуло фото, де дівчинка тримала в руках сонях та фото свого батька, Ярослава Журавля, який був вбитий біля Зайцева місяць тому. Ярослав загинув у складі евакуаційної групи, яка йшла за домовленостями та під гарантіями ОБСЄ, котрій бойовики російсько-окупаційних формувань пообіцяли дотримуватися режиму тиші, забирати тіло полеглого в бою командира, і їх розстріляли. Вони були у білих касках та білих бронежилетах.</p>
		<h2>Відео</h2>
		<iframe
			width="1076"
			height="582"
			src="https://www.youtube.com/embed/D7SlK16o82o?si=Ro7iLwcDqpgApVs0"
			title="YouTube video player"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			loading="lazy"
			allowfullscreen
		>
		</iframe>
	</div>
	<div class="news__widget">
		<Title class="news__widget-title" as="h2" size={2}>Галерея</Title>
		<SliderGallery galleryId="news-gallery-1" list={[
			["/demo/slider-gallery-1.png", "/demo/slider-gallery-1-full.png"],
			["/demo/slider-gallery-2.png", "/demo/slider-gallery-2-full.png"],
			["/demo/slider-gallery-3.png", "/demo/slider-gallery-3-full.png"],
			["/demo/slider-gallery-3.png", "/demo/slider-gallery-3-full.png"],
		]} />
	</div>
	<div class="news__widget">
		<Title class="news__widget-title" as="h2" size={2}>Галерея</Title>
		<Gallery
			galleryId="news-gallery-1"
			list={[
				["/demo/slider-gallery-1.png", "/demo/slider-gallery-1-full.png"],
				["/demo/slider-gallery-2.png", "/demo/slider-gallery-2-full.png"]
			]}
		/>
	</div>
</article>
