@use "sass:math";
@use "@scss/var";

.memorial-card {
	position: relative;

	&__link {
		display: flex;
		border-radius: 10px;
		box-shadow: 0 10px 60px rgba($color: #323232, $alpha: 0.1);
	}

	&__img {
		flex-shrink: 0;
		width: math.div(312px * 100%, var.$container-width);
		aspect-ratio: 1;
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
		object-fit: cover;
	}

	&__content {
		padding: 30px;
	}

	&__title {
		padding-right: 40px;
		margin-bottom: 10px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__location {
		margin-bottom: 10px;
		color: var(--color-text-1);
	}

	&__lifespan {
		color: var(--color-text-1);
		font-size: 16px;
		line-height: 1.625;
		font-weight: 600;
	}

	&__about {
		margin-top: 20px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__actions {
		position: absolute;
		top: 30px;
		right: 30px;
	}

	&__btn {
		--icon-size: 30px;
	}
}