.nav {
	$root: &;
	$marker-size: 6px;

	&__item {
		position: relative;
		padding-left: $marker-size + 10px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		transition: color .25s;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - $marker-size / 2);
			left: 0;
			width: $marker-size;
			height: $marker-size;
			background-color: var(--color-main-1);
			border-radius: 50%;
			transition: background-color .25s;
			pointer-events: none;
		}
	}

	@media (width<768px) {
		&_placement_footer {
			padding-top: 10px;
			transition-property: padding-top, height, display;
			transition-duration: .5s;
			transition-behavior: allow-discrete;
			overflow: hidden;

			@starting-style {
				padding-top: 0;
				height: 0;
			}

			&:not(._active) {
				padding-top: 0;
				display: none;
				height: 0;
			}

			@supports not (interpolate-size: allow-keywords) {
				transition: none;
			}
		}

		&__item {
			#{$root}_placement_footer & {
				padding-left: 0;
			}
		}

		&__link {
			#{$root}_placement_footer &::before {
				content: none;
			}
		}
	}

	@media (hover) {
		&__link:hover {
			color: var(--color-main-2);

			&::before {
				background-color: var(--color-main-2);
			}
		}
	}
}